<footer th:fragment="footer" class="bg-dark text-light pt-5">
    <div class="container">
        <div class="row g-4 pb-4 mb-5 mt-3">
            <div class="col-md-6 col-lg-3 h-100 text-center text-md-start">
                <div class="d-flex flex-column h-100">
                    <h5 class="mb-3">Dịch vụ khách hàng</h5>
                    <ul class="list-unstyled flex-grow-1">
                        <li><a href="#" class="text-light text-decoration-none">Chính sách giao hàng</a></li>
                        <li><a href="#" class="text-light text-decoration-none">Câu hỏi thường gặp</a></li>
                        <li><a href="#" class="text-light text-decoration-none">Điều khoản dịch vụ</a></li>
                        <li><a href="#" class="text-light text-decoration-none">Bảo mật khách hàng</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 h-100 text-center text-md-start">
                <div class="d-flex flex-column h-100">
                    <h5 class="mb-3">Thông tin liên hệ</h5>
                    <address class="mb-2">🗺️ 1234/321 HUIT, đường Nguyễn Trọng Tấn, TP. Hồ Chí Minh</address>
                    <div class="flex-grow-1">
                        <a href="tel:0987654321" class="d-block text-light text-decoration-none mb-1">📞 0987654321</a>
                        <a href="mailto:Team9@gmail.com" class="d-block text-light text-decoration-none">✉️
                            Team9@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 h-100 text-center text-md-start">
                <div class="d-flex flex-column h-100">
                    <h5 class="mb-3">Tải ứng dụng</h5>
                    <div class="d-flex flex-column gap-2 flex-grow-1 align-items-center align-items-md-start">
                        <a href="#"><img src="/assets/img/resourse/playstore-download.png" alt="playstore"
                                         style="max-width:140px;"></a>
                        <a href="#"><img src="/assets/img/resourse/appstore-download.png" alt="appstore"
                                         style="max-width:140px;"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 h-100 text-center text-md-start">
                <div class="d-flex flex-column h-100">
                    <h5 class="mb-3">Theo dõi</h5>
                    <div class="d-flex flex-column gap-2 flex-grow-1 align-items-center align-items-md-start">
                        <a href="https://facebook.com/"
                           class="text-light text-decoration-none d-flex align-items-center" target="_blank"
                           rel="noopener"><i class="fab fa-facebook-f me-2"></i> Facebook</a>
                        <a href="https://twitter.com/" class="text-light text-decoration-none d-flex align-items-center"
                           target="_blank" rel="noopener"><i class="fab fa-x-twitter me-2"></i> Twitter</a>
                        <a href="https://instagram.com/"
                           class="text-light text-decoration-none d-flex align-items-center" target="_blank"
                           rel="noopener"><i class="fab fa-instagram me-2"></i> Instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top border-secondary pt-3 pb-2 text-center small">
            &copy; Copyright by Team 9
        </div>
    </div>
</footer>